@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer base {

  .scrollbar-hide {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
    /* Chrome, Safari and Opera */
    width: 0 !important;
    height: 0 !important;
  }
}